@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS file */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
